fastapi==0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1
pydantic==2.11.7
requests==2.32.4
pandas==2.3.1
numpy==2.3.2
pinecone==7.3.0
langchain==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
sentence-transformers==5.0.0
openai==1.97.1
ollama==0.5.1
PyMuPDF==1.26.3
python-docx==1.2.0
extract-msg==0.54.1
pillow==11.3.0
scikit-learn==1.7.1
tqdm==4.67.1
transformers==4.54.0
huggingface-hub==0.34.1
