fastapi
uvicorn
python-dotenv
pydantic
requests
pandas
numpy
pinecone
langchain
langchain-core
langchain-text-splitters
sentence-transformers
openai
ollama
PyMuPDF
python-docx
extract-msg
pillow
scikit-learn
tqdm
transformers
huggingface-hub
